.news-block-title {
    border-bottom:  1px solid #000;
    padding: 20px 0;
}

.header-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.news-list {
    margin-top: 50px;
}

.news-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.news-title {
    font-weight: 700;
    font-size: 25px;
}

.news-item button {
    margin-left: 30px;
}

.news-delete {
    width: 190px;
    height: 50px;
}

.news-item a {
    color: #fff;
}

.news-item a:hover {
    text-decoration: none;
    color: #fff;
}

.news-item img {
    width: 30%;
    height: 20%;
}